<section class="section-home" id="home">
    {{>home}}
</section>
<section id="about" class="section section-about">
    {{>about}}
</section>
<section id="projects" class="section section-dark section-resume">
    {{>projects}}
</section>
