<section class="section-home" id="home">
    {{>home}}
</section>
<section id="about" class="section section-about">
    {{>about}}
</section>
<section id="projects" class="section section-dark section-resume">
    {{>projects}}
</section>
<section id="skill" class="section section-dark section-resume">
    {{>skill}}
</section>
<section class="section section-learn section-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div data-wow-duration="1.5s" class="section-head wow fadeInUp">
                    <h2>Let's Learn together!</h2>
                </div>
                <div data-wow-duration="1.5s" data-wow-delay=".2s" class="mt-5 wow fadeInUp"><a href="#contact"
                        class="btn btn-outline hover-state">Contact me!</a></div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="section section-dark section-contact">
    {{>contact}}
</section>