<div class="section-about-wrap">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-7">
      <div class="about-desc">
        <div class="about-desc-content">
          <h2>About Me</h2>
          <p class="mt-4 font-weight-light">I'm currently studying Computer Programming at Georgian College, 
            I love to read and explore about technological advancements to gain knowledge based on this subject 
            so I can contribute and be a part of this evolving culture in the future. 
            Let's start scrolling and learn more about me. My passsion for technology and computer science grew as a child when I would
            constantly spend a lot of time with smart devices and computers machines. Learning about these equipments
            made me dive into the world of how all of these operate. Since chldhood, I have been closely following the
            advancements made in the technological sector. My experience and my passion for technology has made me a
            better individual suited to this field. </p>
        </div>
        <ul class="about-desc-social mt-4 list-unstyled list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com/VasuJoshi.utd"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/vasujoshiutd/"><i class="fa fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/VasuJoshi7"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 d-none d-md-block"><img src="images/avatar.jpg" alt="About Picture"
        class="img-fluid img-thumbnail"></div>
  </div>
</div>