<div class="container">
  <div class="section-head"><span>24/7</span>
    <h2>Contact </h2>
  </div>
  {{!-- <div class="contact-map mt-5">
    <h5 class="section-subHead mb-4"> My Location</h5>
    <div id="map" data-wow-duration="1.5s" class="contact-map--container b-box wow fadeInUp"></div>
  </div> --}}
</div>
<div class="contact-Otherdetails">
  <div class="container">
    <div class="contact-details">
      <h5 class="section-subHead pt-5 mb-4"> Get in Touch</h5>
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div data-wow-duration="1.5s" class="contact-details--panel p-4 b-box text-center hover-state wow fadeInUp">
            <div class="mb-4"><i class="fa fa-location-arrow"></i></div>
            <div class="mt-2"><a href="#">210 Deborah Way
                Barrie, Ontario, Canada</a>
              <p class="mt-1 font-weight-bold">Address</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div data-wow-duration="1.5s" class="contact-details--panel p-4 b-box text-center hover-state wow fadeInUp">
            <div class="mb-4"><i class="fa fa-mobile"></i></div>
            <div class="mt-2"><a href="tel:9876543210">+17052417985</a>
              <p class="mt-1 font-weight-bold">Contact Me</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div data-wow-duration="1.5s" data-wow-delay=".2s"
            class="contact-details--panel p-4 b-box text-center hover-state wow fadeInUp">
            <div class="mb-4"><i class="fa fa-envelope"></i></div>
            <div class="mt-2"><a href="mailto:hello@beingeorge.com">joshivasu5@gmail.com</a>
              <p class="mt-1 font-weight-bold">Email</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form mt-5">
      <form>
        <h5 class="section-subHead mb-2"> Contact Form</h5>
        <div class="row">
          <div class="col-lg-6">
            <div data-wow-duration="1.5s" class="form-group mt-3 wow fadeInUp"><input id="name" name="name" type="text"
                placeholder="Your Name*" required="{{''}}" class="form-control b-box"></div>
          </div>
          <div class="col-lg-6">
            <div data-wow-duration="1.5s" data-wow-delay=".2s" class="form-group mt-3 wow fadeInUp"><input id="email"
                name="email" type="email" placeholder="Your Email*" required="{{''}}" class="form-control b-box"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div data-wow-duration="1.5s" data-wow-delay=".3s" class="form-group mt-3 wow fadeInUp"><input id="subject"
                type="text" placeholder="Your Subject.." required="{{''}}" class="form-control b-box"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div data-wow-duration="1.5s" data-wow-delay=".4s" class="form-group mt-3 wow fadeInUp"><textarea
                id="comments" name="comments" rows="4" placeholder="Your message..."
                class="form-control b-box"></textarea></div>
          </div>
        </div>
        <div class="row">
          <div data-wow-duration="1.5s" data-wow-delay=".5s" class="col-lg-12 text-center mt-4 mb-5 wow fadeInUp"><a
              href="#" class="btn hover-state">Submit</a></div>
        </div>
      </form>
    </div>
  </div>
</div>