<div class="container footer">
    <p class="copyright text-center mb-0">@ Vasu Joshi |  <a href="https://www.linkedin.com/in/vasujoshiutd/"><i class="fa fa-linkedin"></i></a><a href="https://github.com/VasuJoshi7"><i class="fa fa-github"></i></a></p>
</div>

