<div class="overlay d-flex justify-content-center align-items-center">
  <div class="overlay-wrap section-head"><span class="mb-2">Hello, I am</span>
    <h1>Vasu Joshi</h1>
    <h3>Computer Programmer</h3>
  </div>
</div>
<div class="swiper-home swiper-container">
  <div class="swiper-wrapper">
    <div style="background-image:url(images/slider1.jpg)" class="swiper-slide"></div>
    <div style="background-image:url(images/slider2.jpg)" class="swiper-slide"></div>
    <div style="background-image:url(images/slider3.jpg)" class="swiper-slide"></div>
    <div style="background-image:url(images/slider4.jpg)" class="swiper-slide"></div>
  </div>
</div><!-- Add Pagination-->
<div class="home-pagination swiper-pagination swiper-pagination-white"></div>