<nav class="navbar navbar-expand-lg navbar-custom navbar-light fixed-top">
    <div class="container"><a href="index.html" class="navbar-brand mr-auto">Vasu Joshi
            <!-- <img src="logo.png" alt="Logo">--></a><button type="button" data-toggle="collapse"
            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler"><svg viewBox="0 0 100 100" width="60"
                class="ham hamRotate ham1">
                <path
                    d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"
                    class="line top"></path>
                <path d="m 30,50 h 40" class="line middle"></path>
                <path
                    d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"
                    class="line bottom"></path>
            </svg></button>
        <div id="navbarToggler" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li><a href="#home" class="nav-link active">home</a></li>
                <li><a href="#about" class="nav-link">about</a></li>
                <li><a href="#skill" class="nav-link">SKILLS</a></li>
                <li><a href="#projects" class="nav-link">Projects</a></li>
                {{!-- <li><a href="#blog" class="nav-link">Blog</a></li> --}}
                <li><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>