<div class="container">
    <div class="section-head" style="margin-bottom: -20px;"><span>My Projects</span>
        {{!-- <h2>My Expertises</h2> --}}
    </div>
    <div class="row mt-4">
        <div class="col-sm-6 col-lg-6">
            <div data-wow-duration="1.5s" class="resume-list b-box hover-state p-4 mt-4 wow fadeInUp">
                <div>
                    <h5>Proejct 1</h5>
                    <h6 class="badge badge-dark d-inline-block my-3">Website Deveopment</h6>
                    <p>Collaborate with creative and development teams on the execution of ideas.</p>
                </div>
            </div>
            <div data-wow-duration="1.5s" data-wow-delay=".2s"
                class="resume-list b-box hover-state p-4 mt-4 wow fadeInUp">
                <div>
                    <h5>Project 2</h5>
                    <h6 class="badge badge-dark d-inline-block my-3">Design Implementation</h6>
                    <p>Collaborate with creative and development teams on the execution of ideas.</p>
                </div>
            </div>
            <div data-wow-duration="1.5s" data-wow-delay=".3s"
                class="resume-list b-box hover-state p-4 mt-4 wow fadeInUp">
                <div>
                    <h5>Project 3</h5>
                    <h6 class="badge badge-dark d-inline-block my-3">Database Analyzing</h6>
                    <p>Collaborate with creative and development teams on the execution of ideas.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6">
            <div data-wow-duration="1.5s" class="resume-list b-box hover-state p-4 mt-4 wow fadeInUp">
                <div>
                    <h5>Project 4</h5>
                    <h6 class="badge badge-dark d-inline-block my-3">Game Development</h6>
                    <p>Collaborate with creative and development teams on the execution of ideas.</p>
                </div>
            </div>
            <div data-wow-duration="1.5s" data-wow-delay=".2s"
                class="resume-list b-box hover-state p-4 mt-4 wow fadeInUp">
                <div>
                    <h5>Project 5</h5>
                    <h6 class="badge badge-dark d-inline-block my-3">Working with Server</h6>
                    <p>Collaborate with creative and development teams on the execution of ideas.</p>
                </div>
            </div>
            <div data-wow-duration="1.5s" data-wow-delay=".3s"
                class="resume-list b-box hover-state p-4 mt-4 wow fadeInUp">
                <div>
                    <h5>Project 6</h5>
                    <h6 class="badge badge-dark d-inline-block my-3">Software Applications</h6>
                    <p>Collaborate with creative and development teams on the execution of ideas.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="row mt-4">
        <div class="col-sm-6 col-lg-6">
            <h5 class="section-subHead mt-3"> Design Skills</h5>
            <div class="resume-panel b-box hover-state p-4 mt-3">
                <div data-wow-duration="1.5s" class="mb-4 pb-2 wow fadeInUp">
                    <h6>Graphic Design </h6>
                    <div style="height: 7px;" class="progress mt-2">
                        <div role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar"></div>
                    </div>
                </div>
                <div data-wow-duration="1.5s" data-wow-delay=".2s" class="mb-4 pb-2 wow fadeInUp">
                    <h6>Logo Design</h6>
                    <div style="height: 7px;" class="progress mt-2">
                        <div role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar"></div>
                    </div>
                </div>
                <div data-wow-duration="1.5s" data-wow-delay=".3s" class="mb-4 pb-2 wow fadeInUp">
                    <h6>Logo Design</h6>
                    <div style="height: 7px;" class="progress mt-2">
                        <div role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar"></div>
                    </div>
                </div>
                <div data-wow-duration="1.5s" data-wow-delay=".4s" class="mb-0 wow fadeInUp">
                    <h6>Photoshop & Figma</h6>
                    <div style="height: 7px;" class="progress mt-2">
                        <div role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6">
            <h5 class="section-subHead mt-3"> Coding Skills</h5>
            <div class="resume-list b-box hover-state p-4 mt-3">
                <div data-wow-duration="1.5s" class="mb-4 pb-2 wow fadeInUp">
                    <h6>RWD</h6>
                    <div style="height: 7px;" class="progress mt-2">
                        <div role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar"></div>
                    </div>
                </div>
                <div data-wow-duration="1.5s" data-wow-delay=".2s" class="mb-4 pb-2 wow fadeInUp">
                    <h6>Bootstrap</h6>
                    <div style="height: 7px;" class="progress mt-2">
                        <div role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar"></div>
                    </div>
                </div>
                <div data-wow-duration="1.5s" data-wow-delay=".3s" class="mb-4 pb-2 wow fadeInUp">
                    <h6>Jekyll</h6>
                    <div style="height: 7px;" class="progress mt-2">
                        <div role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar"></div>
                    </div>
                </div>
                <div data-wow-duration="1.5s" data-wow-delay=".4s" class="mb-0 wow fadeInUp">
                    <h6>Javascript</h6>
                    <div style="height: 7px;" class="progress mt-2">
                        <div role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
</div>